.box {
  margin-bottom: 24px;
  width: stretch;

  & .boxcontent {
    padding: 6px 0 0;
  }

  & h2 {
    position: relative;
    display: block;
    width: stretch;
    height: var(--field-height);
    margin: 0;
    padding: 0 6px;

    color: white;
    font: normal bold 12px var(--font-heading-type);
    font-family: var(--font-heading);
    text-transform: uppercase;
    background: black;

    & > span {
      height: var(--field-height);
      line-height: var(--field-height);
    }

    & > .toggle {
      position: absolute;
      top: 0;
      right: 0;
      width: var(--field-height);
      height: var(--field-height);
      margin: 0;
      padding: 1px;
      color: white;
    }

    & .toggle > span {
      color: white;
    }
  }

  /* Toggle Box Content */
  & .toggle ~ div.boxcontent {
    display: block;
  }

  & .toggle:not([name*='edit'])[value='checked'] ~ div.boxcontent {
    display: none;
  }
}
