.mode--character {
  flex-flow: row wrap;

  & > h1 {
    flex: none;
    width: 100%;
    margin-bottom: var(--field-height);
  }
}

/* Hide when not in 'character' mode */
input[type='hidden'][name*='sheet_mode']:not([value='character'])
  ~ .mode--character {
  display: none;
}

.sec--col1 {
  flex: none;
  width: stretch;
  max-width: 296px;
  margin-right: var(--gap-width);
}

.sec--col2 {
  flex: 1;
  max-width: calc(100% - var(--gap-width) - 296px);
}
