.accordion-container > input[type='hidden'][name*='accordion'] {
  &[value='combat'] ~ .accordion-combat .accordion-content,
  &[value='reference'] ~ .accordion-reference .accordion-content,
  &[value='settings'] ~ .accordion-settings .accordion-content {
    height: fit-content;
    padding: 24px;
  }
}

.label {
  display: flex;
  flex-flow: row nowrap;
}

.label > span {
  flex: none;
  width: fit-content;
  padding-right: 6px;

  color: black;
  font: bold normal 14px / var(--field-height) var(--font-body);
  text-transform: uppercase;

  &::after {
    content: ':';
  }
}
