@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Karla|Space+Mono&display=swap');

/* The root div (div.root) wraps your entire character sheet. Many swordsmith features rely
 * on it, so don't remove or rename it. 
 */
.root {
  /* Custom CSS Properties:
   * Usage: var(--property-name)
   */

  /* Fonts (custom fonts declared in @import rule above) */
  --font-title: 'Black Ops One', sans-serif;
  --font-heading: 'Karla', sans-serif;
  --font-body: 'Karla', sans-serif;
  --font-mono: 'Space Mono', monospace;

  /* Spacing and Sizing */
  --gap-size: 6px;
  --base-size: 22px;

  /* Other Custom Properties */
  --field-hover-color: rgba(245, 222, 179, 0.6);

  --border-primary: 1px solid black;
  --border-secondary: 1px dashed black;
  --border-strong: 2px solid black;

  /* Edit your custom root level styles after this point. Note that 
   * component styles should be placed in component specific files.
   */
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
  min-height: stretch;

  background: transparent;
  font: normal normal 14px var(--font-body);

  & *,
  & *::before,
  & *::after {
    box-sizing: border-box !important;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    font: normal normal 12px var(--font-heading);
    text-transform: uppercase;

    & > span {
      color: inherit;
      font: inherit;
      text-transform: inherit;
    }
  }

  & h1 {
    font-size: 21px;
  }

  & h2 {
    font-size: 16px;
  }

  & h3 {
    font-size: 14px;
  }
}
